:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --danger-color-1: #FAF0F3;
  --danger-color-2: #D70000;
  --danger-color-3: #D12953;

  --success-color-1: #E1FCEF;
  --success-color-2: #00B046;
  --success-color-3: #14804A;

  --info-color-1: #F0F1FA;
  --info-color-3: #4F5AED;
  --info-color-4: #5100D7;

  --warning-color-1: #fcf2e8;
  --warning-color-3: #e2891d;
  --warning-color-4: #d77d00;

  --text-2: #EAEAEA;
  --text-3: #DCDCDC;
  --text-4: #A0A0A0;
  --text-5: #848484;
  --text-6: #687182;
  --text-7: #464F60;
  --text-8: #171C26;
  --text-9: #000000;

  --base-1: #FFFFFF;
  --base-2: #F9FAFC;
  --base-3: #F4F7FC;
  --base-4: #BFBFBF;

  --text-contrast-3: #303031;
  --text-contrast-4: #747474;
  --text-contrast-7: #A0A0A0;
  --text-contrast-9: #FFFFFF;

  --base-contrast-1: #151718;
  --base-contrast-2: #1c1e1f;

}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  background-color: white;
}

